canvas {
    /* border: 1px solid black;
    cursor: crosshair; */
    width: 100%;
    height: 100%;
}

.color-picker {
    width: 30px;
    height: 30px;
    border: 1px solid #ccc;
    border-radius: 50%;
    background-color: #f00;
    cursor: pointer;
    position: relative;
}

.color-picker input[type="color"] {
    opacity: 0;
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    cursor: pointer;
}

.color-picker:hover {
    border-color: #999;
}

.color-picker::after {
    content: "";
    display: block;
    width: 10px;
    height: 10px;
    margin: 10px;
    border-radius: 50%;
    background-color: inherit;
    position: absolute;
    top: 0;
    left: 0;
}